* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#main {
  flex: 1;
  display: none;
}
.editor-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 8px;
}
.editor-container:first-child {
  margin-right: 0;
}
.editor-header {
  display: flex;
  height: 48px;
  padding: 4px 8px;
}
.editor-header > li:last-child {
  margin-left: auto;
}
.editor-header > li > span {
  height: 38px;
  line-height: 38px;
}
.editor-header > li > a {
  height: 38px;
  line-height: 38px;
  padding: .3em .5em;
  border: 1px solid red;
}
.editor-area {
  flex: 1;
  border: 1px solid lightgray;
}
.editor-info {
  margin-top: 6px;
  height: 160px;
  border: 1px solid lightgray;
  padding: 8px;
  overflow-y: auto;
}
.editor-info li {
  cursor: pointer;
}
.editor-sub-header {
  padding: 4px 8px;
}

.output {
  border: 1px solid lightgray;
  padding: 8px;
  overflow-y: auto;
  flex: 1;
}

button {
  padding: 0.25rem 1rem;
}